// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";

* {
  font-family: "Poppins", sans-serif;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}

img {
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select: none;
}
nav ul li a:hover{
  color: #198754 !important;
}
h2:hover{
  color: red;
}
.navBtn {
  width: 6em;
}
.navBtn a:hover {
  color: #198754;
}
// movie container
img {
  pointer-events: none;
}
.movie_card {
  padding: 0 !important;
  min-width: 12rem;
  max-width: 13rem;
  margin: 0.5rem;
  border-radius: 10px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
  background-color: transparent;
}

.movie_card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 20rem;
}
.card img:hover {
  transform: scale(1);
}
.movie_info {
  color: #fff;
}

.movie_info i {
  font-size: 1.2rem;
}
.card-title {
  color: #fff;
  width: 80%;
  height: 4rem;
}

// test
.container-box {
  width: 50%;
  height: 50%;
}
.img-zoom{
    object-fit: cover;
}
.img-zoom:hover {
  background-color: #198754;
}
